<div fxLayout="row" fxLayoutAlign="center"  class="ml-230">
    <div fxLayout="column" fxFlex="900px">
        <form class="mt-20" #utensilios_cadFrm="ngForm" (ngSubmit)="salvar()">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-title class="color-blue">Utensílio</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="200px" >
                            <img mat-card-image class="img-card mt-20 mb-40" src="assets/sem_imagem.png" >
                        </div>
                        <div fxLayout="column" fxFlex="100px" fxLayoutAlign="center" >
                            <button mat-icon-button (click)="alterarFoto($event)" class="img-card" fxFlex="70px" fxLayoutAlign="center"  >
                                <mat-icon fontIcon="add_a_photo" class="img-card color-font" style="font-size: 50px;" fxLayoutAlign="center center"></mat-icon>
                            </button>
                            <mat-label fxLayoutAlign="center" class="label-foto color-font">Alterar foto</mat-label>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width"  appearance="outline">
                                <mat-label>Nome do utensílio: *</mat-label>
                                <input  type="text" 
                                        name="nome"
                                        [(ngModel)]="utensilio.nome"
                                        placeholder="Ex: Liquidificador" 
                                        matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width"  appearance="outline">
                                <mat-label>Marca: </mat-label>
                                <input  type="text" 
                                        name="marca"
                                        [(ngModel)]="utensilio.marca"
                                        placeholder="Digite a marca do utensílio" 
                                        matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="200px">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Quantidade: *</mat-label>
                                <input  type="number" 
                                        name="quantidade"
                                        [(ngModel)]="utensilio.quantidade"
                                        matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Garantia: </mat-label>
                                <input  type="text" 
                                        name="garantia"
                                        [(ngModel)]="utensilio.garantia"
                                        placeholder="Digite informações sobre a garantia do utensílio" 
                                        matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Fornecedor:</mat-label>
                                <input  type="text" 
                                        name="fornecedor"
                                        [(ngModel)]="utensilio.fonecedor"
                                        placeholder="Digite o nome da loja onde foi comprado o utensílio" 
                                        matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column">
                            <label class="label-descart ml-5" >Descartável: *</label>
                            <mat-radio-group [(ngModel)]="utensilio.descartavel">
                                <mat-radio-button value="sim" class="color-font-form">Sim</mat-radio-button>
                                <mat-radio-button value="nao" class="ml-35 color-font-form">Não</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="mt-60 mb-40" fxLayoutAlign="center">
                    <button mat-flat-button class="ml-5" color="accent" fxFlex="40%" type="button" routerLink="/utensilios">
                        <mat-icon fontIcon="backspace"></mat-icon>
                        Descartar
                    </button>                     
                    @if(!atualizando){
                        <button mat-flat-button class="ml-35" color="primary" fxFlex="40%" type="submit">
                            <mat-icon fontIcon="save"></mat-icon>
                            Salvar
                        </button>                     
                    }@else{
                        <button mat-flat-button class="ml-35" color="primary" fxFlex="40%" type="submit">
                            <mat-icon fontIcon="refresh"></mat-icon>
                            Alterar cadastro
                        </button>                     
                    }
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
