.img-card{
    width: 100%;
    height: auto;
}

.label-foto{
    text-align: center;
}

.label-descart{
    font-size: larger;
    color: #767676
}

.color-font-form{
    color: #767676
}

.mb-10{
    margin-bottom: -35px;
}