.quebra-linha {
    width: 120px;
    word-wrap: break-word;
}

.img-card{
    width: 100%;
    height: auto;
}

.color-font-icon{
    color: #3e0ab9
}

.label-foto{
    text-align: center;
}

.cursor{
    cursor: pointer;
}
