.img-card{
    width: 100%;
    height: auto;
}

.color-font-icon{
    color: #3e0ab9
}

.label-foto{
    text-align: center;
}

.mb-10{
    margin-bottom: -35px;
}

.spacer{
    flex: 1 1 auto;
}

.min-height{
    min-height: 700px;
}

