<div fxLayout="row" fxLayoutAlign="center"  class="ml-230">
    <div fxLayout="column" fxFlex="30%">
        <form class="mt-40" #loginFrm="ngForm" (ngSubmit)="logar()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="color-blue">Login</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-60">
                    <mat-form-field class="full-width">
                        <mat-label>Usuário: </mat-label>
                        <input  type="text" 
                                name="usuario"
                                [(ngModel)]="login.usuario"
                                placeholder="Seu usuário aqui" 
                                matInput/>
                    </mat-form-field>
                    <mat-form-field class="full-width mt-60">
                        <mat-label>Senha: </mat-label>
                        <input  type="text"                                         
                                name="senha" 
                                [(ngModel)]="login.senha"
                                placeholder="Sua senha aqui" 
                                    matInput/>
                    </mat-form-field>
                 </mat-card-content>                 
                <mat-card-actions class="mt-60 mb-40" fxLayoutAlign="center">
                    <button mat-flat-button color="primary" fxFlex="40%"  type="submit">
                        Entre
                    </button>                    
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
