<div fxLayout="row" fxLayoutAlign="center"  class="ml-230">
    <div fxLayout="column" fxFlex="100%">
        <mat-card>
            <mat-card-header fxLayoutAlign="center">
                <mat-card-title class="color-blue" fxLayoutAlign="center"><h1>Dia da Festa</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-40">
                <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                    <div fxLayout="column" fxFlex="85px" fxLayoutAlign="center" >
                        <button mat-icon-button class="img-card" fxFlex="50px" fxLayoutAlign="center" type="button" routerLink="/diadafesta_cadastro">
                            <mat-icon fontIcon="add" class="img-card color-font-icon" style="font-size: 50px;" fxLayoutAlign="center center"></mat-icon>
                        </button>
                        <mat-label fxLayoutAlign="center" class="label-foto color-font">Cadastrar<br>Dia da Festa</mat-label>
                    </div>
                    <span class="spacer"></span>
                    <mat-form-field style="height: 70px; width: 20%;">
                        <mat-select placeholder="Escolha uma Data"
                                    (selectionChange)="selecionarData($event)"
                        >
                            <mat-option [value]="null">-- não selecionar --</mat-option>
                            <mat-option *ngFor="let data of datas" [value]="data.dia">
                                {{ data.dia | date:'dd/MM/yyyy' }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="spacer2"></span>
                    <mat-form-field style="height: 70px; width: 20%;">
                        <mat-select placeholder="Escolha uma Equipe">
                            <mat-option [value]="null">-- não selecionar --</mat-option>
                            <mat-option *ngFor="let equipe of equipes" [value]="equipe.nome">
                                {{equipe.nome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="spacer2"></span>
                    <mat-form-field style="height: 70px; width: 20%;">
                        <mat-select placeholder="Escolha uma Função">
                            <mat-option [value]="null">-- não selecionar --</mat-option>
                            <mat-option *ngFor="let funcao of funcoes" [value]="funcao.nome">
                                {{funcao.nome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span class="spacer"></span>                    
                    <div fxLayout="column" fxFlex="85px" fxLayoutAlign="center" >
                        @if(firebaseId){
                            <button mat-icon-button class="img-card" fxFlex="50px" fxLayoutAlign="center" type="button" (click)="alterarDiadaFesta()" >
                                <mat-icon fontIcon="edit" class="img-card color-font-icon" style="font-size: 35px;" fxLayoutAlign="center center"></mat-icon>
                            </button>
                            <mat-label fxLayoutAlign="center" class="label-foto color-font">Alterar<br>Dia da Festa</mat-label>
                        }
                    </div>
                </div>
             </mat-card-content>
             <br><br><br><br><span matListItemTitle class="background-yellow">DAQUI PARA BAIXO AINDA NÃO ESTÁ CONSTRUÍDO</span>
        </mat-card>
    </div>
</div>