  
<div  class="container_menu ">
    <div *ngIf="isLogado()" class="menu nao-imprimir">
        <mat-toolbar class="widht-height-menu">
        
            <img src="assets/logo_fundo_azul2.png"/>
            
            <mat-toolbar-row>
                <span class="example-icon-pos color-blue titulo">Sorveteria</span>
                <mat-icon class="color-blue">icecream</mat-icon>
            </mat-toolbar-row>
        
            <mat-toolbar-row>
                <a routerLink="diadafesta" class="decoration-none">
                    <mat-icon class="example-icon">calendar_month</mat-icon>
                    <span class="decoration-none">Dia da Festa</span>
                </a>
            </mat-toolbar-row>
        
            <mat-toolbar-row>
                <a routerLink="pessoas" class="decoration-none">
                    <mat-icon class="example-icon">person</mat-icon>
                    <span>Pessoas</span>
                </a>
            </mat-toolbar-row>
            
            <mat-toolbar-row>
                <a routerLink="equipes" class="decoration-none">
                    <mat-icon class="example-icon">group</mat-icon>
                    <span>Equipes</span>
                </a>
            </mat-toolbar-row>

            <!-- <mat-toolbar-row>
                <a routerLink="utensilios" class="decoration-none">
                    <mat-icon class="example-icon">blender</mat-icon>
                    <span>Utensílios</span>
                </a>
            </mat-toolbar-row> -->
        
            <mat-toolbar-row>
                <a routerLink="barracas" class="decoration-none">
                    <mat-icon class="example-icon">festival</mat-icon>
                    <span>Barracas</span>
                </a>
            </mat-toolbar-row>
            
            <!-- criado novos rows vazios para espaçar o botão de sair -->
            <mat-toolbar-row></mat-toolbar-row>
            <mat-toolbar-row></mat-toolbar-row>

        
            <mat-toolbar-row>
                <a routerLink="" class="decoration-none" (click)="logout()">
                    <mat-icon class="example-icon">logout</mat-icon> 
                    <span>Sair</span>
                </a>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div class="content">
        <router-outlet></router-outlet>       
    </div>
</div>