@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .cracha {
    page-break-inside: avoid;
    width: 8cm;
    height: 12cm;
    display: inline-block;
    margin: 0.5cm;
  }

  .nao-imprimir {
    display: none !important;
  }

  .scroll-to-top,
  .scroll-to-bottom,
  mat-card-actions,
  button {
    display: none !important;
  }

  * {
    visibility: hidden;
  }

  #print-area, #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  @page {
    size: A4;
    margin: 10mm;
  }
}

.example-icon {
  padding: 0 14px;
}

.example-icon-pos {
  padding: 14px 14px;
}

.titulo{
    font-size: larger;
}

.widht-height-menu{
    width: 230px;
}

.menu {
  flex-basis: 250px; /* Largura fixa do menu */
  //background-color: #f0f0f0;
  padding: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Para preencher toda a tela */
  //overflow-y: auto;
  
}

.content {
  flex-grow: 1; /* Ocupa o espaço restante */
  padding: 20px;
}