<div fxLayout="row" fxLayoutAlign="center" class="ml-230">
    <div fxLayout="column" fxFlex="100%">
        <mat-card>
            <mat-grid-list cols="2">
                <div fxLayout="column"  fxFlex="45%"  class="ml-2p mb-40 mt-40">
                    <mat-card>
                        <mat-card-header fxLayoutAlign="center">
                            <mat-card-title class="color-blue" fxLayoutAlign="center">
                                <h1>Equipes cadastradas</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mt-20  ml-35 mb-40 mr-20">
                            <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                                <div fxLayout="column" fxFlex="50px" fxLayoutAlign="center">
                                    <button mat-icon-button class="img-card" fxFlex="50px" fxLayoutAlign="center"
                                        type="button" [routerLink]="['/equipes_cadastro', 'Equipe']">
                                        <mat-icon fontIcon="add" class="img-card color-font-icon"
                                            style="font-size: 50px;" fxLayoutAlign="center center"></mat-icon>
                                    </button>
                                    <mat-label fxLayoutAlign="center" class="label-foto color-font">Cadastrar equipe</mat-label>
                                </div>
                            </div>
                            <ng-container>
                                <table mat-table [dataSource]="equipes" class="mat-elevation-z8 mt-40 mb-40">
                                    <ng-container matColumnDef="nome">
                                        <th mat-header-cell *matHeaderCellDef> Equipe </th>
                                        <td mat-cell *matCellDef="let equipe"
                                            [routerLink]="['/equipes_cadastro', 'Equipe', equipe.firebaseId]" class="cursor">
                                            {{equipe.nome}} 
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="colunasTable"></tr>
                                    <tr mat-row *matRowDef="let row; columns: colunasTable;"></tr>
                                </table>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxLayout="column"  fxFlex="45%" class="ml-2p mb-40 mt-40">
                    <mat-card>
                        <mat-card-header fxLayoutAlign="center">
                            <mat-card-title class="color-blue" fxLayoutAlign="center">
                                <h1>Funções cadastradas</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mt-20 ml-35 mb-40 mr-20">
                            <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                                <div fxLayout="column" fxFlex="50px" fxLayoutAlign="center">
                                    <button mat-icon-button class="img-card" fxFlex="50px" fxLayoutAlign="center"
                                        type="button" [routerLink]="['/equipes_cadastro', 'Função']">
                                        <mat-icon fontIcon="add" class="img-card color-font-icon"
                                            style="font-size: 50px;" fxLayoutAlign="center center"></mat-icon>
                                    </button>
                                    <mat-label fxLayoutAlign="center" class="label-foto color-font">Cadastrar função</mat-label>
                                </div>
                            </div>
                            <ng-container>
                                <table mat-table [dataSource]="funcoes" class="mat-elevation-z8 mt-40 mb-40">
                                    <ng-container matColumnDef="nome">
                                        <th mat-header-cell *matHeaderCellDef> Função </th>
                                        <td mat-cell *matCellDef="let funcao"
                                            [routerLink]="['/equipes_cadastro', 'Função', funcao.firebaseId]" class="cursor">
                                            {{funcao.nome}} 
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="colunasTable"></tr>
                                    <tr mat-row *matRowDef="let row; columns: colunasTable;"></tr>
                                </table>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-grid-list>
        </mat-card>
    </div>
</div>