.img-card{
    width: 100%;
    height: auto;
}

.color-font-icon{
    color: #3e0ab9
}

.label-foto{
    text-align: center;
}

.mb-10{
    margin-bottom: -35px;
}

.spacer{
    flex: 1 1 auto;
}

.min-height{
    min-height: 700px;
}

.min-height-card2{
    min-height: 465px;
}

.background-light-light-gray{
    background-color: rgb(228, 239, 250);
}

.background-light-gray{
    background-color: rgb(191, 210, 230);
}

.center-content{
    text-align: center;
}

.background-yellow{
    background-color: yellow;
    padding: 10px;
}

.mini-card{
    max-width: 2000px;
}


.micro-card{
    width: 48%;
    //max-width: 2000px;
}

.spacer2{
    flex: auto;
}

.width-select{
    width: 80%;
    
}