<div fxLayout="row" fxLayoutAlign="center" class="ml-230">
    <div fxLayout="column" fxFlex="900px">
        <form class="mt-20" #pessoas_cadFrm="ngForm" (ngSubmit)="salvar()">
            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    @if(atualizando){
                        <mat-card-title class="color-blue label-foto">{{pessoa.nome}}<br>#{{pessoa.idPessoa}} </mat-card-title>
                    }@else {
                        <mat-card-title class="color-blue label-foto">Pessoa</mat-card-title>
                    }
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="200px" >
                            <img mat-card-image class="img-card mt-20 mb-40"
                                [src]="pessoa.imagem"
                                (error)="pessoa.imagem = 'assets/sem_imagem.png'"
                            >
                        </div>
                        <div fxLayout="column" fxFlex="100px" fxLayoutAlign="center" >
                            <button mat-icon-button class="img-card" fxFlex="70px" fxLayoutAlign="center" type="button" (click)="carregarImagem()"  >
                                <mat-icon fontIcon="add_a_photo" class="img-card color-font" style="font-size: 50px;" fxLayoutAlign="center center"></mat-icon>
                            <input type="file" #inputImagem accept="image/*" style="display: none;" (change)="ajustarSalvarImagem($event)">                                
                            </button>
                            <mat-label fxLayoutAlign="center" class="label-foto color-font">Alterar foto</mat-label>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width"  appearance="outline">
                                <mat-label>Nome Completo: *</mat-label>
                                <input  type="text" 
                                        name="nome"
                                        [(ngModel)]="pessoa.nome"
                                        placeholder="Digite o nome completo da pessoa" 
                                        matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="200px">
                            <mat-form-field class="full-width"  appearance="outline">
                                <mat-label>Data de Nascimento: </mat-label>
                                <input  type="date" 
                                        name="data_nascimento"
                                        [(ngModel)]="pessoa.data_nascimento"
                                         matInput/>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="200px" class="ml-35">
                            <mat-form-field class="full-width"  appearance="outline">
                                <mat-label>Idade: </mat-label>
                                <input  type="number" 
                                        name="idade"
                                        [(ngModel)]="pessoa.idade"
                                         matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="200px">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Telefone residencial:</mat-label>
                                <input  type="text" 
                                        name="telefone_res"
                                        placeholder="Ex: (99) 9999-9999" 
                                        mask="(99) 9999-9999"
                                        [(ngModel)]="pessoa.telefone_res"
                                        matInput/>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="200px"  class="ml-35">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Telefone celular:</mat-label>
                                <input  type="text" 
                                        name="telefone_cel"
                                        placeholder="Ex: (99) 99999-9999" 
                                        mask="(99) 99999-9999"
                                        [(ngModel)]="pessoa.telefone_cel"
                                        matInput/>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="200px"  class="ml-35">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Telefone de recados:</mat-label>
                                <input  type="text" 
                                        name="telefone_rec"
                                        placeholder="Ex: (99) 99999-9999" 
                                        mask="(99) 99999-9999"
                                        [(ngModel)]="pessoa.telefone_rec"
                                        matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>E-mail: </mat-label>
                                <input  type="text" 
                                        name="email"
                                        [(ngModel)]="pessoa.email"
                                        placeholder="Ex: pessoa@email.com.br" 
                                        matInput/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="350px">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Equipe: </mat-label>
                                <mat-select [(value)]="equipeNome">
                                    <mat-option [value]="null">-- não selecionar --</mat-option>
                                    <mat-option *ngFor="let equipe of equipesCadastradas" [value]="equipe.nome">
                                        {{equipe.nome}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="350px" class="ml-2p">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Função: </mat-label>
                                <mat-select [value]="funcoesNomes" (selectionChange)="atualizarFuncoes($event)" multiple>
                                    <mat-option *ngFor="let funcao of funcoesCadastradas" [value]="funcao.nome">
                                        {{funcao.nome}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Comentários: </mat-label>
                                <textarea   matInput 
                                            rows="5"
                                            placeholder="Digite aqui observações que achar importante guardar..."
                                            name="comentarios"
                                            [(ngModel)]="pessoa.comentarios">
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="mt-60 mb-40" fxLayoutAlign="center">
                    <button mat-flat-button class="ml-5" color="accent" fxFlex="40%" type="button" routerLink="/pessoas">
                        <mat-icon fontIcon="backspace"></mat-icon>
                        Descartar
                    </button>                     
                    @if(!atualizando){
                        <button mat-flat-button class="ml-35" color="primary" fxFlex="40%" type="submit">
                            <mat-icon fontIcon="save"></mat-icon>
                            Salvar
                        </button>                     
                    }@else{
                        <button mat-flat-button class="ml-35" color="primary" fxFlex="40%" type="submit">
                            <mat-icon fontIcon="refresh"></mat-icon>
                            Alterar cadastro
                        </button>                     
                    }
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
