<div fxLayout="row" fxLayoutAlign="center"  class="ml-230">
    <div fxLayout="column" fxFlex="100%">
        <mat-card>
            <mat-card-header fxLayoutAlign="center">
                <mat-card-title class="color-blue" fxLayoutAlign="center"><h1>Pessoas cadastradas</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="start" fxLyoutGap="16px">
                    <div fxLayout="column" fxFlex="50px" fxLayoutAlign="center" >
                        <button mat-icon-button class="img-card" fxFlex="50px" fxLayoutAlign="center" type="button" routerLink="/pessoas_cadastro" >
                            <mat-icon fontIcon="add" class="img-card color-font-icon" style="font-size: 50px;" fxLayoutAlign="center center"></mat-icon>
                        </button>
                        <mat-label fxLayoutAlign="center" class="label-foto color-font">Cadastrar pessoa</mat-label>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="end">
                    <mat-button-toggle-group name="alterarExibicao" aria-label="Alterar Exibição" [hideSingleSelectionIndicator]="true" value="grid" (change)="alternarExibicao($event)">
                        <mat-button-toggle value="table"><mat-icon fontIcon="list"></mat-icon></mat-button-toggle>
                        <mat-button-toggle value="grid"><mat-icon fontIcon="grid_view"></mat-icon></mat-button-toggle>
                    </mat-button-toggle-group>
                </div><br>

                <ng-container *ngIf="exibirEmGrade">
                    <mat-grid-list cols="6" rowHeight="300px">
                        <mat-grid-tile *ngFor="let card of cards">
                            <mat-card  >
                                <img mat-card-lg-image  src="assets/sem_imagem.png">
                                <mat-card-content>
                                    #{{ card.id }}
                                </mat-card-content>
                                <mat-card-content class="quebra-linha">
                                    {{ card.nome }}
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </ng-container>

                <ng-container *ngIf="!exibirEmGrade">
                    <table mat-table [dataSource]="cards" class="mat-elevation-z8">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> # </th>
                            <td mat-cell *matCellDef="let card"> {{card.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nome">
                            <th mat-header-cell *matHeaderCellDef> Nome Completo </th>
                            <td mat-cell *matCellDef="let card"> {{card.nome}} </td>
                        </ng-container>
                        <ng-container matColumnDef="sexta">
                            <th mat-header-cell *matHeaderCellDef> Sexta </th>
                            <td mat-cell *matCellDef="let card"> 
                                @if(!card.sexta){
                                    
                                }@else{
                                    <mat-icon fontIcon="check"></mat-icon>
                                } 
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="sabado">
                            <th mat-header-cell *matHeaderCellDef> Sábado </th>
                            <td mat-cell *matCellDef="let card">         
                                @if(!card.sabado){
                                    
                                }@else{
                                    <mat-icon fontIcon="check"></mat-icon>
                                } </td>
                        </ng-container>
                        <ng-container matColumnDef="domingo">
                            <th mat-header-cell *matHeaderCellDef> Domingo </th>
                            <td mat-cell *matCellDef="let card">      
                                @if(!card.domingo){
                                    
                                }@else{
                                    <mat-icon fontIcon="check"></mat-icon>
                                } 
                            </td>
                        </ng-container>  
                        <tr mat-header-row *matHeaderRowDef="colunasTable"></tr>
                        <tr mat-row *matRowDef="let row; columns: colunasTable;"></tr>
                    </table>
                </ng-container>

            </mat-card-content>
            <mat-card-actions class="mt-60 mb-40" fxLayoutAlign="center">
                
                <button mat-flat-button class="ml-5" color="primary" fxFlex="40%" type="button" routerLink="/pessoas_imprimircracha" *ngIf="exibirEmGrade">
                    <mat-icon fontIcon="print"></mat-icon>
                    Imprimir crachás
                </button>     

                <button mat-flat-button class="ml-5" color="primary" fxFlex="40%" type="button" routerLink="/pessoas_imprimirlista" *ngIf="!exibirEmGrade">
                    <mat-icon fontIcon="print"></mat-icon>
                    Imprimir lista
                </button>     

            </mat-card-actions>
        </mat-card>
    </div>
</div>